/Media
Arduino Projects/6-Axis-Robotarm/.vscode/extensions.json
Python Projects/.idea/inspectionProfiles/profiles_settings.xml
Python Projects/.idea/inspectionProfiles/Project_Default.xml
Python Projects/.idea/misc.xml
Python Projects/.idea/modules.xml
Python Projects/.idea/Python Projects.iml
Python Projects/.idea/vcs.xml
Python Projects/ESP Websockets/.idea/inspectionProfiles/profiles_settings.xml
Python Projects/ESP Websockets/.idea/inspectionProfiles/Project_Default.xml
Python Projects/ESP Websockets/.idea/misc.xml
Python Projects/ESP Websockets/.idea/vcs.xml
Python Projects/ESP Websockets/.idea/workspace.xml
Python Projects/VEPR-Control v1/User Interface/__pycache__/constants.cpython-312.pyc
Python Projects/VEPR-Control v1/User Interface/__pycache__/formatting.cpython-312.pyc
Arduino Projects/6-Axis-Robotarm/.vscode/extensions.json
Python Projects/VEPR-Control v1/User Interface/__pycache__/constants.cpython-312.pyc
